*
{
    --orange:#FF7A00;
    --mainbg:#f5e7e7;
    margin: 0px;
}
.gholder
{
    background-color: var(--mainbg);
}
.gcontainer
{
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 5%; */
    flex-direction: column;
}
.gcard1
{
    width: 80%;
    height: 300px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    margin-top: 3%;
}
.gcard1img
{
    width: 25%;
    height: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid black; */
}
.gcard1img img
{
    width: 70%;
    height: 80%;
    border: 1px solid black;
    border-radius: 10px;
}
.gcard1content
{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
}
.gcard1content h1
{
    text-align: center;
    margin: 2%;
    font-size: 32px;
}
.gcard1content p
{
    text-align: center;
    margin: 2%;
    font-size: 20px;
}